/*html reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 1;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

body {
	background: #251D35;
	line-height: 1;
	font-family: 'karbonlight',Sans-Serif;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'karbonlight',Sans-Serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
  background: #FFE432;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

/* grid */
*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family:'karbonregular';
	src:url(/css/assets/fonts/karbon-regular-webfont.eot);
	src:url(/css/assets/fonts/karbon-regular-webfont.eot?#iefix) format("embedded-opentype"),
	url(/css/assets/fonts/karbon-regular-webfont.woff) format("woff"),
	url(/css/assets/fonts/karbon-regular-webfont.ttf) format("truetype"),
	url(/css/assets/fonts/karbon-regular-webfont.svg#karbonregular) format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'karbonsemibold';
	src:url(/css/assets/fonts/karbon-semibold-webfont.eot);
	src:url(/css/assets/fonts/karbon-semibold-webfont.eot?#iefix) format("embedded-opentype"),
	url(/css/assets/fonts/karbon-semibold-webfont.woff) format("woff"),
	url(/css/assets/fonts/karbon-semibold-webfont.ttf) format("truetype"),
	url(/css/assets/fonts/karbon-semibold-webfont.svg#karbonsemibold) format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'karbonlight';
	src:url(/css/assets/fonts/karbon-light-webfont.eot);
	src:url(/css/assets/fonts/karbon-light-webfont.eot?#iefix) format("embedded-opentype"),
	url(/css/assets/fonts/karbon-light-webfont.woff) format("woff"),
	url(/css/assets/fonts/karbon-light-webfont.ttf) format("truetype"),
	url(/css/assets/fonts/karbon-light-webfont.svg#karbonlight) format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'karbonregularitalic';
	src:url(/css/assets/fonts/karbon-regularitalic-webfont.eot);
	src:url(/css/assets/fonts/karbon-regularitalic-webfont.eot?#iefix) format("embedded-opentype"),
	url(/css/assets/fonts/karbon-regularitalic-webfont.woff) format("woff"),
	url(/css/assets/fonts/karbon-regularitalic-webfont.ttf) format("truetype"),
	url(/css/assets/fonts/karbon-regularitalic-webfont.svg#karbonregularitalic) format("svg");
	font-weight:normal;
	font-style:normal;
}

/* STYLING BEGINS HERE */

/* Home - Header and Nav */

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px 50px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
}

.headcenter {
	max-width: 1400px;
	margin: 0 auto;
}

header a {
	position: relative;
	font-family: 'karbonsemibold',Sans-Serif;
	font-size: 17px;
	color: #FFF;
}


header a::after {
	content: "";
	position: absolute;
	bottom: 0px;
	top: 20px;
	left: -2px;
	width: calc(100% + 6px);
	height: 2px;
	-webkit-transform: rotate(0deg) scale(0, 1);
	-moz-transform: rotate(0deg) scale(0, 1);
	transform: rotate(0deg) scale(0, 1);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	transition: .1s linear all;
}

header a:hover::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header h1 a:hover::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header nav li a.active::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header h1, header li {
	display: inline-block;
}

header h1 a::after {
	bottom: -3px;
	-webkit-transform: rotate(0deg) scale(1, 1);
  	-moz-transform: rotate(0deg) scale(1, 1);
  	transform: rotate(0deg) scale(1, 1);
	background: rgba(255,255,255,0.5);
}

header li {
	margin-left: 3em;
}

header nav {
	float: right;
	text-align: right;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li:nth-child(1) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(2) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(3) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(4) a::after {
	background: rgba(255,255,255,0.5);
}

header.blk_hdr nav li:nth-child(1) a::after {
	background: #FF0B59;
}

header.blk_hdr nav li:nth-child(2) a::after {
	background: #45C65B;
}

header.blk_hdr nav li:nth-child(3) a::after {
	background: #0049D7;
}

header.blk_hdr nav li:nth-child(4) a::after {
	background: #FFE432;
}

header nav li.active:nth-child(1) a::after {
	background: #FF0B59;
	/*background: #FF0D05;*/
}

header nav li.active:nth-child(2) a::after {
	background: #45C65B;
}

header nav li.active:nth-child(3) a::after {
	background: #0049D7;
}

header nav li.active:nth-child(4) a::after {
	background: #FFE432;
}

/* Home - Intro Section */

.intro {
	position: fixed;
	display: table;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 1;
}

.intro h2 {
	position: relative;
	display: block;
	min-width: 650px;
	max-width: 650px;
	margin: 0 auto;
	font-family: 'karbonlight',Sans-Serif;
	color: #FFF;
	font-size: 45px;
	line-height: 50px;
	text-align: left;
	z-index: 1;
	opacity: 1;
}

.bio {
	display: table-cell;
	vertical-align: middle;
}

/* Home - Footer Section */

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 50px 50px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
	text-align: center;
}

.footcenter {
	max-width: 1400px;
	margin: 0 auto;
}

footer a {
	color: #FFF;
	bottom: 0px;
	-webkit-transition: .1s linear bottom;
	-moz-transition: .1s linear bottom;
	transition: .1s linear bottom;
	z-index: 2;
}

footer a.more {
	font-family: 'karbonsemibold',Sans-Serif;
	font-size: 17px;
	top: 250px;
	padding:10px 25px;
	border-radius: 96px;
	border: 2px solid rgba(255,255,255,0.6);
	background: rgba(0,0,0,0.03);
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	opacity: 1;
	text-align: center;
}

footer a.more:hover {
	border: 2px solid rgba(255,255,255,0.8);
}

/* Home - Gradient Section */

#gradient
{
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
}

/* About - Container Section */

header.blk_hdr {
	/*background: rgba(11, 18, 29, 0.3);*/
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.175),rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
	background: -o-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
	background: linear-gradient(rgba(0, 0, 0, 0.175),rgba(255, 255, 255, 0));
}

.tag--about {
  background: #90DEC6;
  color: #31A480;
}

.inpage-intro {
  display: table;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  background: #251D35 url("/img/background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

h2.inpage-h2 {
	text-align: center;
	font-size: 60px;
  	line-height: 65px;
  	color: #fff;
  	margin-top: 280px;
}

h3.inpage-h3 {
	font-size: 30px;
  line-height: 38px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.thumbnails {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 4em;
  padding-left: 0;
  padding-top: 10em;
}

.thumbnails li {
  display: inline-block;
  width: 300px;
  margin: 0 15px 30px 0;
  text-align: center;
}

.thumbnails a .thumbimage {
  display: block;
  width: 300px;
  height: 169px;
  background: rgba(0, 0, 0, 0) no-repeat left top;
  background-position: -2400px;
  background-size: 5700px 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.thumbnails a[href*='hue'] .thumbimage {
  background-image: url(/img/);
}

.thumbnails h4 {
  font-family: 'karbonlight',Sans-Serif;
  font-size: 26px;
  color: #FFF;
  -webkit-transition: .1s linear text-shadow;
  -moz-transition: .1s linear text-shadow;
  transition: 0.1s linear text-shadow;
}

.thumbnails h5 {
  font-family: 'karbonlight',Sans-Serif;
  font-size: 16px;
  color: #FFF;
  opacity: .6;
  margin-top: 5px;
  -webkit-transition: .1s linear opacity, .1s linear text-shadow;
  -moz-transition: .1s linear opacity, .1s linear text-shadow;
  transition: .1s linear opacity, .1s linear text-shadow;
}

.content {
	background: #FFF;
	display: table;
  	top: 100%;
  	width: 100%;
  	min-height: 100vh;
	border-bottom:1px solid rgba(0, 0, 0, 0.03);
}

#skillset {
	background: #f9f9f9;
}

.c_box {
	display: table-cell;
 	vertical-align: middle;
}

h2.cb {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 120px;
  font-size: 50px;
  text-align: center;
  color: #FF0B59;
}

h3.cd {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 0px;
  font-size: 30px;
  text-align: center;
  color: #FF0B59;
}

h3.cd blockquote {
	display: inline-block;
  background: #FFE432;
  color: #000;
}

.prin {
	max-width: 950px;
  margin: 0 auto;
  padding-top: 4em;
  padding-left: 0;
  display: table;
}

.prin li {
  margin-bottom: 30px;
  float: left;
  width: 40%;
  min-height: 150px;
  margin-left: 40px;
  margin-right: 40px;
}

.prin h3 {
	font-size: 30px;
	line-height: 38px;
}

.prin .num{
	color: #FF0B59;
}

.prin p {
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

/* Responsive CSS */

@media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
	header {
		padding: 20px 20px;
	}
	.headcenter {
		text-align: center;
	}
	header nav {
		float: none;
		text-align: center;
		margin-top: 20px;
	}
	header li {
  		margin-left: 15px;
	}
	.intro h2 {
		min-width: 280px;
		max-width: 280px;
		font-size: 28px;
  		line-height: 32px;
  		text-align: center;
	}
	footer {
		padding: 40px 20px
	}
	footer a.more {
  		font-size: 14px;
  		padding: 10px 15px;
  	}
  	.bio .cd-words-wrapper b {
		text-align: center;
		white-space: normal;
		font-size: 20px;
  	}
  	h2.inpage-h2 {
  		font-size: 40px;
  		line-height: 65px;
  		margin-top: 130px;
  	}
  	h3.inpage-h3 {
  		font-size: 28px;
  		line-height: 34px;
  		margin: 10px 50px;
  	}
  	.thumbnails {
  		padding-top: 3em;
	}
	.thumbnails li {
  		margin: 0px;
  	}
  	.prin {
  		padding-top: 10px;
  	}
  	.prin li {
  		margin:0;
  		padding: 20px 30px 30px 30px;
  		width: 100%;
  	}
  	h2.cb {
  		font-size: 40px;
 	}
 	h3.cd {
 		font-size: 28px;
 	}


}

@media only screen and (min-device-width : 480px) and (max-device-width : 680px) {
	header {
		padding: 20px 20px;
	}
	.headcenter {
		text-align: center;
	}
	header nav {
		float: none;
		text-align: center;
		margin-top: 20px;
	}
	header li {
  		margin-left: 15px;
	}
	.intro h2 {
		min-width: 300px;
		max-width: 600px;
		font-size: 28px;
  		line-height: 32px;
  		text-align: center;
	}
	footer {
		padding: 30px 20px
	}
	footer a.more {
  		font-size: 14px;
  		padding: 10px 15px;
  	}
  	.bio .cd-words-wrapper b {
		text-align: center;
		white-space: normal;
		font-size: 28px;
  	}
  	h2.inpage-h2 {
  		font-size: 40px;
  		line-height: 55px;
  		margin-top: 120px;
	}
  	h3.inpage-h3 {
  		font-size: 18px;
  		line-height: 24px;
 		margin: 10px 40px;
	}
}
