/*html reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 1;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

body {
	background: #212121;
	line-height: 1;
	font-family: 'Circular-Reg',,sans-serif;
	font-size: 10px;
	color: #333;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span {
	font-size: 100%;
	font-weight: normal;
	font-family: 'Circular-Reg',sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
  border: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
	background: #FFE432;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: none;
}

/* grid */
*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* -- Font : San Francisco -- */
@font-face {
	font-family:'SFD-Thin';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Thin.ttf);
}
@font-face {
	font-family:'SFD-Light';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Light.ttf);
}
@font-face {
	font-family:'SFD-Reg';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Regular.ttf);
}
@font-face {
	font-family:'SFD-Med';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Medium.ttf);
}
@font-face {
	font-family:'SFD-Bold';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Bold.ttf);
}
@font-face {
	font-family:'SFD-Black';
	src:url(/assets/fonts/SanFrancisco/SanFranciscoDisplay-Black.ttf);
}

/* -- Font : Adobe Caslon -- */
@font-face {
	font-family:'Caslon-Reg';
	src:url(/assets/fonts/Caslon/ACaslonPro-Regular.otf);
}
@font-face {
	font-family:'Caslon-Med';
	src:url(/assets/fonts/Caslon/ACaslonPro-Semibold.otf);
}
@font-face {
	font-family:'Caslon-Bold';
	src:url(/assets/fonts/Caslon/ACaslonPro-Bold.otf);
}

/* -- Font : Circular -- */
@font-face {
	font-family:'Circular-Reg';
	src:url(/assets/fonts/Circular/circular-book.otf);
}
@font-face {
	font-family:'Circular-Med';
	src:url(/assets/fonts/Circular/circular-medium.otf);
}
@font-face {
	font-family:'Circular-Bold';
	src:url(/assets/fonts/Circular/circular-bold.otf);
}
@font-face {
	font-family:'Circular-Black';
	src:url(/assets/fonts/Circular/circular-black.otf);
}


/* -------------------------------- 

PAGE - HOME #HEADER

-------------------------------- */

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px 50px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
	background: rgba(255,255,255,0.1);
}

.headcenter {
	max-width: 1400px;
	margin: 0 auto;
}

header a {
	position: relative;
	font-family: 'Circular-Bold',Sans-Serif;
	font-size: 12px;
	letter-spacing: 2px;
	color: #FFF;
}


header a::after {
	content: "";
	position: absolute;
	bottom: 0px;
	top: 22px;
	left: 0px;
	width: calc(100% + 1px);
	height: 2px;
	-webkit-transform: rotate(0deg) scale(0, 1);
	-moz-transform: rotate(0deg) scale(0, 1);
	transform: rotate(0deg) scale(0, 1);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	transition: .1s linear all;
}

header a:hover::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header h1 a:hover::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header nav li a.active::after {
    -webkit-transform:rotate(0deg) scale(1,1) !important;
    -moz-transform:rotate(0deg) scale(1,1) !important;
    transform:rotate(0deg) scale(1,1) !important;
}

header h1, header li {
	display: inline-block;
}

header h1 a::after {
	bottom: -3px;
	-webkit-transform: rotate(0deg) scale(1, 1);
  	-moz-transform: rotate(0deg) scale(1, 1);
  	transform: rotate(0deg) scale(1, 1);
	background: rgba(255,255,255,0.0);
}

header li {
	margin-left: 3em;
}

header nav {
	float: right;
	text-align: right;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li:nth-child(1) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(2) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(3) a::after {
	background: rgba(255,255,255,0.5);
}

header nav li:nth-child(4) a::after {
	background: rgba(255,255,255,0.5);
}

header.blk_hdr nav li:nth-child(1) a::after {
	background: #FF0B59;
}

header.blk_hdr nav li:nth-child(2) a::after {
	background: #45C65B;
}

header.blk_hdr nav li:nth-child(3) a::after {
	background: #FFE432;
}

header.blk_hdr nav li:nth-child(4) a::after {
	background: #2BA9F5;
}

header.wht_hdr nav li:nth-child(1) a::after {
	background: #FF0B59;
}

header.wht_hdr nav li:nth-child(2) a::after {
	background: #45C65B;
}

header.wht_hdr nav li:nth-child(3) a::after {
	background: #FFE432;
}

header.wht_hdr nav li:nth-child(4) a::after {
	background: #2BA9F5;
}

header.fix_hdr nav li:nth-child(1) a::after {
	background: #FF0B59;
}

header.fix_hdr nav li:nth-child(2) a::after {
	background: #45C65B;
}

header.fix_hdr nav li:nth-child(3) a::after {
	background: #FFE432;
}

header.fix_hdr nav li:nth-child(4) a::after {
	background: #2BA9F5;
}

header nav li.active:nth-child(1) a::after {
	background: #FF0B59;
}

header nav li.active:nth-child(2) a::after {
	background: #45C65B;
}

header nav li.active:nth-child(3) a::after {
	background: #FFE432;
}

header nav li.active:nth-child(4) a::after {
	background: #2BA9F5;
}

/* -------------------------------- 

PAGE - HOME #INTRO

-------------------------------- */

.intro {
	position: fixed;
	display: table;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 1;
}

.intro h2 {
	position: relative;
	display: block;
	min-width: 720px;
	max-width: 720px;
	margin: 0 auto;
	color: #FFF;
	font-size: 40px;
	line-height: 54px;
	text-align: center;
	z-index: 1;
	opacity: 1;
}

.bio {
	display: table-cell;
	vertical-align: middle;
}

/* -------------------------------- 

PAGE - HOME #FOOTER

-------------------------------- */

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 40px 40px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
	text-align: center;
}

.footcenter {
	max-width: 1400px;
	margin: 0 auto;
}

footer a {
	color: #ffffff;
	bottom: 0px;
	-webkit-transition: .2s linear bottom;
	-moz-transition: .2s linear bottom;
	transition: .2s linear bottom;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a.home-white {
	border: 2px solid rgba(255,255,255,0.0);
    background: rgba(255,255,255,0.2);
}

a.home-white:hover {
	border: 2px solid rgba(255,255,255,0.0);
	background: rgba(255,255,255,0.3);
}

.arrow_m {
	width: 16px;
	margin-right: 20px;
	margin-top: 0px;
}

.button {
	border-radius: 2px;
	line-height: 46px;
	padding: 5px 35px 5px 25px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: .2s all linear;
	margin: 0 10px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;	
	-webkit-appearance: none;
	font-weight: bold;
}

.button:focus {
	outline: none;
}

/* -------------------------------- 

PAGE - HOME #GRADIENT

-------------------------------- */

#gradient
{
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	opacity: 0.9;
}

/* -------------------------------- 

PAGE - PROFILE #INTRO

-------------------------------- */

header.blk_hdr {
	background: rgba(0,0,0,0);
	/*background: -webkit-linear-gradient(rgba(0, 0, 0, 0.175),rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
	background: -o-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
	background: linear-gradient(rgba(0, 0, 0, 0.175),rgba(255, 255, 255, 0));*/
}

header.wht_hdr {
	background: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(0,0,0,0.07);
}

header.wht_hdr a {
	color: #212934;
}

header.fix_hdr {
	background: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	position: relative;
}

header.fix_hdr a {
	color: #212934;
}

.tag--about {
	background: #90DEC6;
	color: #31A480;
}

.inpage-intro {
	display: table;
	width: 100%;
	height: 50vh;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 1;
	background: #404040 url("/assets/img/style/background.png") no-repeat;
	background-size: cover;
	background-position: center;
}

h2.inpage-h2 {
	text-align: center;
	font-size: 50px;
  	line-height: 56px;
  	color: #fff;
  	display: inline-block;
  	font-weight: bold;
}

h3.inpage-h3 {
	font-size: 24px;
	line-height: 32px;
	margin-top: 10px;
	color: #fff;
	text-align: center;
}

h3.inpage-h3 span {
	padding: 0 0 .1em 0;
	position: relative;
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

.content {
	background: #FFF;
	display: table;
  	top: 100%;
  	width: 100%;
  	min-height: 100vh;
	border-bottom:1px solid rgba(0, 0, 0, 0.03);
}

.c_box {
	display: table-cell;
 	vertical-align: middle;
}

h2.cb {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 100px;
	font-size: 50px;
	text-align: center;
	color: #FF0B59;
}

h3.cd {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 0px;
	font-size: 30px;
	text-align: center;
	color: #FF0B59;
}

h3.cd blockquote {
	display: inline-block;
	background: #FFE432;
	color: #000;
}

/* -------------------------------- 

PAGE - PROFILE #FORTE

-------------------------------- */

#forte {
	min-height: 50vh;
}

.forte-b {
	max-width: 1080px;
	margin: 0 auto;
	padding-top: 0;
	padding-left: 0;
	display: table;
}

.forte-b li {
	padding: 30px 60px;
    float: left;
    width: 50%;
    min-height: 200px;
    display: inline-block;
}

.forte-b h3 {
	font-size: 20px;
    line-height: 32px;
    color: #404040;
    display: inline-block;
    padding: 0px 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.forte-b p {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0,0,0,0.7);
}

.for-pc {
	display: block;
	width: 108px;
	height: 108px;
	background: rgba(0, 0, 0, 0.01) no-repeat left top;
	float: left;
	margin-right: 35px;
	margin-top: 0px;
	border: 2px solid rgba(0, 0, 0, 0.03);
	border-radius: 0px;
}

.for-ct {
	float: left;
	display: block;
	width: 260px;
	vertical-align: middle;
}

.for-blue {background: #009aff;}
.for-green {background: #1abc92;}
.for-purple {background: #7c4dff;}
.for-red {background: #ff4081;}

img.ab-ico {
	width: 100%;
	margin: 0px auto;
	display: block;
}

/* -------------------------------- 

PAGE - PROFILE #PRINCIPLES

-------------------------------- */

.prin {
	max-width: 950px;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 4em;
	padding-left: 0;
	display: table;
}

.prin li {
	padding: 30px 40px;
	float: left;
	width: 50%;
	min-height: 150px;
}

.prin h3 {
	font-size: 30px;
	line-height: 38px;
}

.prin .num{
	color: #FF0B59;
}

.prin p {
	font-size: 18px;
	line-height: 24px;
	color: rgba(33, 41, 52, 0.7);
}

/* -------------------------------- 

PAGE - PROFILE #SKILLSET

-------------------------------- */

.skill_table {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 4em;
	padding-left: 0;
	display: table;
}

.skill_b {
	width: 46%;
	float: left;
	min-width: 450px;
	padding: 0px 0px 5px 0px;
	margin: 10px 12px 40px 12px;
	background: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 0px;
}

.skill_b li {
	padding: 12px 0px;
	width: 100%;
	border-bottom: 1px solid #F6F6F6;
	display: inline-block;
	float: left;
}

.skill_b li:nth-child(odd) {
    background: rgba(0,0,0,0.01);
}

.skill_b li:last-child {
	border-bottom: none;
}

.skill_b h3 {
	font-size: 30px;
	line-height: 38px;
	padding: 20px 0px;
	text-align: center;
	border-bottom: 1px solid #F6F6F6;
}

.skill_b p {
	font-size: 18px;
	line-height: 26px;
	color: #333;
	padding: 5px 0px;
	float: left;
	height: 34px;
	text-transform: uppercase;
}

.skill_icon {
	border-radius: 90px;
	background: #000;
	line-height: 22px;
	color: #FFF;
	float: left;
	width: 34px;
	height: 34px;
	margin: 0px 20px;
	padding: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border:2px solid rgba(0, 0, 0, 0.02);
}

.skill_b li .ps {
	background: #5e97f6;
}

.skill_b li .il {
	background: #ffa726;
}

.skill_b li .sk {
	background: #fdd835;
}

.skill_b li .ui {
	background: #4fc3f7;
}

.skill_b li .ux {
	background: #4dd0e1;
}

.skill_b li .id {
	background: #57bb8a;
}

.skill_b li .ap {
	background: #9ccc65;
}

.skill_b li .wb {
	background: #7986cb;
}

.skill_b li .bl {
	background: #f06292;
}

.skill_b li .ht {
	background: #a1887f;
}

.skill_b li .cs {
	background: #d4e157;
}

.skill_b li .js {
	background: #fdd835;
}

.skill_b li .jq {
	background: #5e97f6;
}

.skill_b li .an {
	background: #7986cb;
}

.skill_b li .ru {
	background: #e06055;
}

.skill_b li .ph {
	background: #9575cd;
}

.skill_b li .oc {
	background: #90a4ae;
}

.skill_b li .sw {
	background: #ff8a65;
}

.gray {
	background: #FAFAFA;
	background: -moz-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
	background: -webkit-linear-gradient(-45deg,#FAFAFA 0,#F2F2F2 60%,#EAEAEA 100%);
	background: -o-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
	background: -ms-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
	background: linear-gradient(135deg,#FAFAFA 0,#F2F2F2 60%,#EAEAEA 100%);
}

/* -------------------------------- 

PAGE - PROFILE #BRANDS

-------------------------------- */

.brands-b {
	max-width: 950px;
	margin: 0px;
	padding: 0px;
}

.brands-b li {
	width: 217px;
	padding: 0;
	margin: 10px 10px;
	float: left;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.07);
}

.brands-w {
	max-width: 950px;
	margin: 0px;
	padding: 0px;
}

.brands-w li {
	width: 100%;
	max-width: 967px;
	padding: 0;
	margin: 20px 0px;
	float: left;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.07);
}

.brand-shot a {
	color: #000;
	font-size: 18px;
	line-height: 1.4em;
}

.brand-shot a:hover {
	color: #000;
}

.brand-shot img {
	max-width: 100%;
	background: rgba(0, 0, 0, 0.01);
}

.inner {
	padding: 15px;
	border-top: 2px solid rgba(51, 51, 51, 0.05);
}

.inner-in {
	padding: 15px;
	border-bottom: 2px solid rgba(51, 51, 51, 0.05);
	overflow: hidden;
}

.meta {
	display: block;
	font-size: 16px;
	font-weight: 300;
	color: rgba(33, 41, 52, 0.6);
	line-height: 1.4em;
}

.meta-left {
	float: left;
}

.meta-b {
	font-size: 16px;
	font-weight: 300;
	color: rgba(33, 41, 52, 0.6);
	line-height: 1.4em;
	display: block;
}

.meta-a {
	color: #000;
	font-size: 18px;
	line-height: 1.4em;
	display: block;
}

.brand-shot a.meta-n {
	font-size: 18px;
	line-height: 1.4em;
	border: 2px solid #45C65B;
	color: #45C65B;
	padding: 5px 10px;
	float: right;
	margin: 4px 0px 0px 12px;
	max-width: 40px;
}

.arrow {
	width: 16px;
}

/* -------------------------------- 

PAGE - PROFILE #OUTRO

-------------------------------- */

.inpage-outro {
	display: table;
	width: 100%;
	height: 35vh;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 1;
	background: #fff;
}

.out-h3 {
	font-size: 40px;
	color: #FF0B59;
	margin: 0 0 20px 0;
	display: block;
	text-align: center;
	padding-bottom: 10px;
  	padding-top: 0px;
  	max-width: 950px;
	margin: 0 auto;
}

.wgr {
	color: #45C65B;
}

.out-s {
	color: rgba(33, 41, 52, 0.6);
	font-size: 26px;
	padding-bottom: 40px;
	display: block;
	text-align: center;
	max-width: 950px;
  	margin: 0 auto;
}

.out-s blockquote {
	display: inline-block;
	/*background: #FFE432;*/
	color: #000;	
}

a.out-blue {
	border: 2px solid #2BA9F5;
	color: #2BA9F5;
}

a.out-green {
	border: 2px solid #45C65B;
	color: #45C65B;
}

a.out-blue:hover {
	background: #2BA9F5;
	color: #fff;
}

a.out-green:hover {
	background: #45C65B;
	color: #fff;
}

/* -------------------------------- 

PAGE - PROFILE #FOOTER

-------------------------------- */

.inner-foot {
	display: table;
	width: 100%;
	height: 25vh;
	top: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	opacity: 1;
	background: #251D35 url("/assets/img/style/background.png") no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 40px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sitemap {
	margin-bottom: 20px;
	margin-top: 5px;
	display: block;
}

.sitemap li {
	display: inline;
	margin: 0 15px;
}

.sitemap a {
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 2px;
	border-bottom: 2px solid rgba(255, 255, 255,0.03);
}

.sitemap a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255,0.3);
}

a.underliner {
	display: inline-block;
	transition: .2s all linear;
	position: relative;
}

.social, .social a {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: .2s color linear;
}

.social a {
	padding-bottom: 2px;
	transition: .2s all linear;
	border-bottom: 1px solid rgba(255, 255, 255,0.03);
}

.social a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

.copyright {
	margin-top: 60px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: .5px;
	text-transform: capitalize;
	display: block;
}

/* -------------------------------- 

PAGE - WORK

-------------------------------- */

#lwork {
  min-height: 50vh;
}

h2.hlg {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 50px;
	font-size: 50px;
	text-align: center;
	color: #45C65B;
}

h2.hwb {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 110px;
	font-size: 50px;
	text-align: center;
	color: #45C65B;
}

.inner-gr {
	padding: 15px;
	border-top: 2px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
}

/* Project */

.project {
	width: 100%;
	margin: 10px 0px 5px 0px;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	display: inline-block;
/*	border-top: 1px solid rgba(0, 0, 0, 0.07);
	background-color: rgba(255, 255, 255, 0.5);*/
}
.project-hd {
	float: left;
	font-size: 24px;
	line-height: 34px;
	color: #000;
}
.project-lnk {
	float: right;
	font-size: 14px;
	line-height: 25px;
	border: 2px solid #45C65B;
	padding: 0px 10px;
	border-radius: 36px;
	margin-top: 2px;
	color: #45C65B;
	font-weight: 700;
	transition: .2s all linear;
	text-transform: uppercase;
}

.project-lnk:hover {
	background: #45C65B;
	color: #fff;
}


/* -------------------------------- 

PAGE - WORK Inner

-------------------------------- */
.slideto {
  display: inline-block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
}


/* -------------------------------- 

PAGE - RESUME

-------------------------------- */

h2.rcb {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 0px;
	padding-top: 110px;
	font-size: 50px;
	line-height: 45px;
	text-align: center;
	color: #222;
}

h3.rcd {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 0px;
	color: rgba(33, 41, 52, 0.7);
  	font-size: 16px;
	text-align: center;
}

.r-work {
	margin-top: .75em;
	margin-bottom: 3em;
	background: #FFF;
	max-width: 750px;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	overflow: auto;
	padding-bottom: 60px;
}

.r-work li {
	position: relative;
	text-indent: 0;
	font-size: 15px;
	line-height: 18px;
	padding: 1.8em;
	/*border-top: 1px solid rgba(0, 0, 0, 0.03);*/
}

.r-work li span {
	display: inline-block;
	width: 70%;
}

.r-work li span h5 {
	display: block;
	text-align: left;
	max-width: none;
	width: auto;
	margin: 6px 0px;
	display: none;
}

.r-work span p {
	font-size: 18px;
	line-height: 24px;
	margin-top: .8em;
	color: rgba(33, 41, 52, 0.7);
}

.r-work h4 {
	font-size: 30px;
	line-height: 38px;
	color: #333;
	background: #FFE432;
	display: inline-block;
}

.r-work h5 {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	font-size: 14px;
	width: 110px;
	margin: 0px 20px 0 0;
	color: rgba(33, 41, 52, 0.7);
	line-height: 21px;
}

.r-work a {
	color: #000;
	text-decoration: none;
	-moz-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

/* -------------------------------- 

PAGE - CONTACT

-------------------------------- */

h2.hlb {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 50px;
	font-size: 50px;
	text-align: center;
	color: #2BA9F5;
}

.hl-form {
	background: #FFF;
	max-width: 750px;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	overflow: auto;
	padding-bottom: 0px;
}

.sb-bt {
	margin: 20px auto;
	border: 2px solid #2BA9F5;
	color: #2BA9F5;
	background: #fff;
	width: 50%;
	display: block;
}

.sb-tx{
	margin: 20px auto;
	color: #666;
	font-size: 18px;
	line-height: 24px;
	margin-right: 18px;
	width: 100%;
	text-align: center;
	display: block;
}

.sb-bt:hover {
	background: #2BA9F5;
	color: #fff;
}

.input {
	position: relative;
	z-index: 1;
	display: block;
	margin: 2em auto;
	max-width: 500px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #2BA9F5;
	font-size: 24px;
	line-height: 30px;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #666;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	font-size: 24px;
	line-height: 30px;
}

/* -------------------------------- 

PAGE - CONNECT

-------------------------------- */

.con-fb {
	border-top: 2px solid #46629E;
}
.con-lk {
	border-top: 2px solid #1B86BC;
}
.con-tw {
	border-top: 2px solid #53A7E8;
}
.con-gp {
	border-top: 2px solid #DD4B39;
}
.con-pt {
	border-top: 2px solid #BD1E23;
}
.con-ss {
	border-top: 2px solid #007BB6;
}
.con-am {
	border-top: 2px solid #94C1BE;
}
.con-gr {
	border-top: 2px solid #1E8CBE;
}
.con-sv {
	border-top: 2px solid #19C450;
}
.con-ac {
	border-top: 2px solid #0F0F0F;
}
.con-ff {
	border-top: 2px solid #3E7CC8;
}
.con-vm {
	border-top: 2px solid #44BBFF;
}
.con-yt {
	border-top: 2px solid #E02927;
}
.con-fk {
	border-top: 2px solid #FF0084;
}
.con-in {
	border-top: 2px solid #48769C;
}
.con-px {
	border-top: 2px solid #222222;
}
.con-dr {
	border-top: 2px solid #EA4C89;
}
.con-gh {
	border-top: 2px solid #333;
}
.con-bh {
	border-top: 2px solid #1769FF;
}
.con-sf {
	border-top: 2px solid #F47920;
}
.con-cm {
	border-top: 2px solid #91A759;
}
.con-cp {
	border-top: 2px solid #222;
}
.con-ph {
	border-top: 2px solid #DA552F;
}
.con-nn {
	border-top: 2px solid #F47E57;
}
.con-sg {
	border-top: 2px solid #DA500F;
}
.con-sc {
	border-top: 2px solid #FF6C00;
}
.con-lf {
	border-top: 2px solid #DD1C23;
}
.con-gb {
	border-top: 2px solid #CFCEBB;
}
.con-fp {
	border-top: 2px solid #404040;
}
.con-lb {
	border-top: 2px solid #2C3641;
}
.con-ib {
	border-top: 2px solid #F2CD00;
}
.con-dl {
	border-top: 2px solid #0B79E5;
}
.con-fl {
	border-top: 2px solid #E02828;
}
.con-md {
	border-top: 2px solid #57AD68;
}
.con-su {
	border-top: 2px solid #EC4B24;
}
.con-qo {
	border-top: 2px solid #AA2200;
}

/* -------------------------------- 

Hoshi

-------------------------------- */

.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #2BA9F5;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 2px solid rgba(185, 193, 202, 0.4);
}

.input__label--hoshi::after {
	margin-top: 0px;
	border-bottom: 2px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: #2BA9F5;
}

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

/* -------------------------------- 

Type style

-------------------------------- */

.cd-title {
	position: relative;
	height: 160px;
	line-height: 230px;
	text-align: center;
}
.cd-title h2 {
	font-size: 2.4rem;
	font-weight: 700;
}
@media only screen and (min-width: 768px) {
	.cd-title {
		line-height: 250px;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-title {
		height: 200px;
		line-height: 300px;
	}
	.cd-title h2 {
		font-size: 3rem;
	}
}

.cd-intro {
	width: 90%;
	max-width: 768px;
	text-align: center;
}

.cd-intro {
	margin: 4em auto;
}
@media only screen and (min-width: 768px) {
	.cd-intro {
		margin: 5em auto;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-intro {
		margin: 6em auto;
	}
}

.cd-headline {
	font-size: 3rem;
	line-height: 1.2;
}
@media only screen and (min-width: 768px) {
	.cd-headline {
		font-size: 4.4rem;
		font-weight: 300;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-headline {
		font-size: 6rem;
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
}
.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}
.cd-words-wrapper b.is-visible {
	position: relative;
}
.no-js .cd-words-wrapper b {
	opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
}

/* -------------------------------- 

xloading-bar 

-------------------------------- */

.cd-headline.loading-bar span {
	display: inline-block;
	padding: 0 0 .1em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
	font-size:28px;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
	/* loading bar */
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background: rgba(255,255,255,0.2);
	z-index: 2;
	-webkit-transition: width 0.3s -0.1s;
	-moz-transition: width 0.3s -0.1s;
	transition: width 0.3s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
	width: 100%;
	-webkit-transition: width 3s;
	-moz-transition: width 3s;
	transition: width 3s;
}
.cd-headline.loading-bar b {
	top: .2em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
	opacity: 1;
	top: 0;
}

/* -------------------------------- 

Responsive CSS

-------------------------------- */

/* iPhone 2G-4S */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	header {
		padding: 20px 10px;
	}
	.headcenter {
		text-align: center;
	}
	header nav {
		float: none;
		text-align: center;
		margin-top: 25px;
	}
	header li {
  		margin-left: 10px;
	}
	.inpage-intro {
  		height: 70vh;
	}
	.intro h2 {
		min-width: 280px;
		max-width: 280px;
		font-size: 28px;
  		line-height: 36px;
  		text-align: center;
	}
	.cd-headline.loading-bar .cd-words-wrapper b {
		font-size:18px;
	}
	footer {
		padding: 20px 20px
	}
	footer a.more {
  		font-size: 14px;
  		padding: 10px 15px;
  	}
  	.bio .cd-words-wrapper b {
		text-align: center;
		white-space: normal;
		font-size: 21px;
  	}
  	h2.inpage-h2 {
  		font-size: 40px;
  		line-height: 65px;
  		margin-top: 40px;
  	}
  	h3.inpage-h3 {
  		font-size: 20px;
  		line-height: 26px;
  		margin: 10px 40px;
  	}
  	.prin {
  		padding-top: 10px;
  	}
  	.prin li {
  		margin:0;
  		padding: 20px 30px 30px 30px;
  		width: 100%;
  	}
  	h2.cb, h2.hlg, h2.hlb {
  		font-size: 40px;
 	}
 	h2.hwb {
  		font-size: 40px;
  		padding-top: 120px;
 	}
 	h3.cd {
 		font-size: 28px;
 	}
	.skill_b {
  		min-width: 100%;
  		margin: 10px 0px 20px 0px;
  		border-radius: 0px;
  	}
  	.forte-b {
  		margin-top: 30px;
  	}
  	.forte-b li {
  		width: 100%;
  		text-align: center;
  		padding: 0px 20px 30px;
  		max-height: 100%;
  	}
  	.for-pc {
  		margin: 0px auto 20px;
  		width: 100%;
  		border-radius: 2px;
		height: 150px;
  	}
  	.for-ct {
  		width: 100%;
  	}
  	.project {
		width: 100%;
		margin: 0px auto 10px;
		clear: both;
		display: block;
		min-height: 55px;
  	}
  	.brands-b {
		display: block;
		width: 100%;
		float: left;
  	}
  	.brands-b li {
		width: 280px;
		float: none;
	}
	.inpage-outro {
		height: 80vh;
	}
	.out-s {
		width: 280px;
	}
	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
	.button{
		width: 280px;
  		margin-bottom: 20px;
	}
	.inner-foot{
		padding: 40px 20px;
	}
	.sitemap li {
  		display: inline-block;
  		margin: 8px 15px;
	}
	.social, .social a {
		line-height: 30px;
	}
	.social a {
		margin: 10px;
	}
	.hl-form {
		width: 280px;
	}
	.sb-bt {
		width: 260px;
	}
	h2.rcb {
		font-size: 40px;
	}
	.r-work {
		padding-bottom: 10px;
	}
	.r-work li {
		padding: 30px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
	}
	.r-work li span {
  		width: 100%;
	}
	.r-work h5 {
		display: none;
	}
	.r-work li span h5 {
		display: block;
	}
	a.home-white {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.arrow_m {
    	width: 12px;
    	margin-right: 10px;
    	margin-top: -4px;
	}
	img.ab-ico {
		width: 20%;
		margin: 46px auto;
		display: block;
	}
	.pre-three {
		display: none;
	}
	.pre-four {
		display: none;
	}
	h2.cnct {
		padding-top: 120px;
	}
	.slideto {
		height: 82px;
		margin-top: -82px;
  	}
  	h2.spshd, h3.spshd {
  		font-size: 36px;
  	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	header {
		padding: 20px 20px;
	}
	header h1 {
		float: left;
	}
	header li {
		margin-left: 1em;
	}
	header nav {
		float: right;
		text-align: center;
		margin-top: 0px;
	}
	.headcenter {
		text-align: center;
	}
	footer {
		padding: 20px 20px;
	}
	.intro h2 {
		min-width: 450px;
		max-width: 450px;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}
	.cd-headline.loading-bar .cd-words-wrapper b {
		font-size:20px;
	}
	.inpage-intro {
		height: 100vh;
	}
	h2.inpage-h2 {
		font-size: 40px;
		line-height: 45px;
		margin-top: 20px;
	}
	h3.inpage-h3 {
		font-size: 20px;
		line-height: 26px;
		margin: 10px 40px;
	}
	.forte-b {
  		margin-top: 30px;
	}
	.forte-b li {
		width: 100%;
		text-align: center;
		padding: 0px 20px 30px;
	}
	.for-ct {
		text-align: left;
		width: 60%;
	}
	.skill_b {
		min-width: 100%;
		margin: 10px 0px 20px 0px;
		border-radius: 0px;
	}
	.prin li {
		margin: 0;
		padding: 20px 30px 30px 30px;
		width: 100%;
	}
	.brands-b {
		display: block;
		width: 100%;
		float: left;
	}
	.brands-b li {
		width: 46%;
		margin: 2%;
	}
	.inpage-outro {
		height: 100vh;
	}
	.inner-foot {
  		padding: 30px 20px;
  		z-index: 0;
	}
	.sitemap li {
		display: inline-block;
		margin: 8px 12px;
	}
	h2.rcb {
		font-size: 40px;
	}
	.r-work {
		padding-bottom: 10px;
	}
	.r-work li {
		padding: 30px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
	}
	.r-work li span {
  		width: 100%;
	}
	.r-work h5 {
		display: none;
	}
	.r-work li span h5 {
		display: block;
	}
	.social, .social a {
		line-height: 20px;
	}
	.social a {
		margin: 0px;
	}
	.hl-form {
		width: 380px;
	}
	.sb-bt {
		width: 360px;
	}
	.copyright {
  		margin-top: 50px;
	}
	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
	.skill_table {
  		max-width: 460px;
	}
	.pre-three {
		display: none;
	}
	.pre-four {
		display: none;
	}
	h2.cnct {
		padding-top: 80px;
	}
	h2.hwb {
  		padding-top: 80px;
 	}
 	.slideto {
		height: 45px;
		margin-top: -45px;
  	}
  	.button {
    	padding: 0px 35px 0px 25px;
    }
}

/* iPhone 5 & 5S */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
}

/* iPhone 6 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
	header li {
  		margin-left: 25px;
	}
	.inpage-intro {
  		height: 60vh;
	}
	.inpage-outro {
  		height: 60vh;
	}
	a.home-white {
  		padding: 3px;
  	}
  	.intro h2 {
		min-width: 340px;
		max-width: 340px;
		font-size: 30px;
		line-height: 40px;
	}
	.bio .cd-words-wrapper b {
		font-size: 20px;
	}
	img.ab-ico {
		width: 20%;
		margin: 40px auto;
		display: block;
	}
}
@media only screen and (min-device-width : 569px) and (max-device-width : 667px) and (orientation : landscape) {
	header {
		padding: 20px 20px;
	}
	header h1 {
		float: left;
	}
	header li {
		margin-left: 2em;
	}
	header nav {
		float: right;
		text-align: center;
		margin-top: 0px;
	}
	.headcenter {
		text-align: center;
	}
	footer {
		padding: 30px 20px;
	}
	.intro h2 {
		min-width: 500px;
		max-width: 500px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
	}
	.cd-headline.loading-bar .cd-words-wrapper b {
		font-size:24px;
	}
	.button {
    	padding: 0px 35px 0px 25px;
	}
	.inpage-intro {
		height: 70vh;
	}
	h2.inpage-h2 {
		font-size: 40px;
		line-height: 45px;
		margin-top: 10px;
	}
	h3.inpage-h3 {
		font-size: 20px;
		line-height: 26px;
		margin: 10px 40px;
	}
	.forte-b {
  		margin-top: 30px;
	}
	.forte-b li {
		width: 100%;
		text-align: center;
		padding: 0px 20px 30px;
	}
	.for-ct {
		text-align: left;
		width: 60%;
	}
	.skill_b {
		min-width: 100%;
		margin: 10px 0px 20px 0px;
		border-radius: 0px;
	}
	.prin li {
		margin: 0;
		padding: 20px 30px 30px 30px;
		width: 100%;
	}
	.brands-b {
		display: block;
		width: 100%;
		float: left;
	}
	.brands-b li {
		width: 31%;
		margin: 1%;
	}
	.inpage-outro {
		height: 100vh;
	}
	.inner-foot {
  		padding: 30px 20px;
  		z-index: 0;
	}
	.sitemap li {
		display: inline-block;
		margin: 8px 12px;
	}
	h2.rcb {
		font-size: 40px;
	}
	.r-work {
		padding-bottom: 10px;
	}
	.r-work li {
		padding: 30px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
	}
	.r-work li span {
  		width: 100%;
	}
	.r-work h5 {
		display: none;
	}
	.r-work li span h5 {
		display: block;
	}
	.social, .social a {
		line-height: 20px;
	}
	.hl-form {
		width: 380px;
	}
	.sb-bt {
		width: 360px;
	}
	.copyright {
  		margin-top: 50px;
	}
	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
	.skill_table {
  		max-width: 630px;
	}
	.pre-four {
		display: none;
	}
	h2.cnct {
		padding-top: 80px;
	}
	h2.hwb {
  		padding-top: 80px;
 	}
 	.slideto {
		height: 45px;
		margin-top: -45px;
  	}
}

/* iPhone 6 Plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 
	img.ab-ico {
		width: 20%;
		margin: 36px auto;
		display: block;
	}
}
@media only screen and (min-device-width : 668px) and (max-device-width : 736px) and (orientation : landscape) {
	header {
		padding: 20px 20px;
	}
	header h1 {
		float: left;
	}
	header li {
		margin-left: 3em;
	}
	header nav {
		float: right;
		text-align: center;
		margin-top: 0px;
	}
	.headcenter {
		text-align: center;
	}
	footer {
		padding: 30px 20px;
	}
	.intro h2 {
		min-width: 500px;
		max-width: 500px;
		font-size: 34px;
		line-height: 40px;
		text-align: center;
	}
	.cd-headline.loading-bar .cd-words-wrapper {
		font-size:28px;
	}
	.inpage-intro {
		height: 70vh;
	}
	h2.inpage-h2 {
		font-size: 40px;
		line-height: 45px;
		margin-top: 10px;
	}
	h3.inpage-h3 {
		font-size: 20px;
		line-height: 26px;
		margin: 10px 100px;
	}
	.forte-b {
  		margin-top: 30px;
	}
	.forte-b li {
		width: 100%;
		text-align: center;
		padding: 0px 20px 30px;
	}
	.for-ct {
		text-align: left;
		width: 70%;
		margin-top: 10px;
	}
	.skill_b {
		min-width: 46%;
		margin: 2%;
		border-radius: 0px;
	}
	.prin li {
		margin: 0;
		padding: 20px 30px 30px 30px;
		width: 50%;
	}
	.brands-b {
		display: block;
		width: 100%;
		float: left;
	}
	.brands-b li {
		width: 31%;
		margin: 1%;
	}
	.inpage-outro {
		height: 80vh;
	}
	.inner-foot {
  		padding: 30px 20px;
  		z-index: 0;
	}
	.sitemap li {
		display: inline-block;
		margin: 8px 12px;
	}
	h2.rcb {
		font-size: 40px;
	}
	.r-work {
		padding-bottom: 10px;
	}
	.r-work li {
		padding: 30px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
		width: 50%;
  		float: left;
	}
	.r-work li span {
  		width: 100%;
	}
	.r-work h5 {
		display: none;
	}
	.r-work li span h5 {
		display: block;
	}
	.social, .social a {
		line-height: 20px;
	}
	.hl-form {
		width: 380px;
	}
	.sb-bt {
		width: 360px;
	}
	.copyright {
  		margin-top: 50px;
	}
	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
	.skill_table {
  		max-width: 700px;
	}
	.pre-four {
		display: none;
	}
	h2.cnct {
		padding-top: 80px;
	}
	h2.hwb {
  		padding-top: 80px;
 	}
 	.slideto {
		height: 45px;
		margin-top: -45px;
  	}
}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	h2.inpage-h2 {
		font-size: 50px;
		line-height: 55px;
		margin-top: 30px;
	}
	h3.inpage-h3 {
  		font-size: 24px;
  		line-height: 30px;
  		margin: 10px 80px;
  	}
  	.inpage-intro {
		height: 30vh;
	}
	.brands-b li {
		width: 31%;
		margin: 1%;
	}
	.skill_b {
		margin: 2%;
		width: 46%;
		min-width: 46%;
	}
	.for-ct {
		width: 60%;
		min-height: 150px;
		margin-top: 0;
	}
	.for-pc {
		width: 100px;
		height: 100px;
		margin-right: 20px;
		border-radius: 90px;
	}
	.skill_table {
	  	max-width: 700px;
	}
	#skillset h2 {
		padding-top: 0;
	}
	#forte {
  		min-height: 45vh;
	}
	#contact {
  		min-height: 70vh;
	}
	.inner-foot {
		height: 21vh;
	}
	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
	img.ab-ico {
		width: 50%;
		margin: 24px auto;
		display: block;
	}
	.pre-four {
		display: none;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	h2.inpage-h2 {
		font-size: 50px;
		line-height: 55px;
	}
	h3.inpage-h3 {
  		font-size: 24px;
  		line-height: 30px;
  	}
  	.out-h3 {
		font-size: 40px;
	}
	.out-s {
		font-size: 26px;
	}
}
